body {
  margin: 0;
  padding: 0;
  background: url('https://imageupload.io/ib/5CZ1aFUyppm8QdP_1699212290.png') no-repeat center center fixed;
  /* Set the new background image, center it, and prevent it from repeating */
  background-size: cover; /* Cover the entire background */
  color: white;
  font-family: Arial, sans-serif; /* Recommended font family for better readability */
  /* Other existing styles */
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
  width: 10px; 
}

.name {
    margin-left: 10px; 
    font-size: 1.2em; 
    color: #333;
}

.menu {
  list-style: none;
  display: flex;
  gap: 90px;
}

.menu li {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s;
}
.menu a:hover::before {
    background-color: #FF6000; 
}

.actions a {
   gap: 70px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  margin-left: 20px;
  
}
.hero {
  background-color: black;
  position: relative;
  text-align: center;
  max-width: 100%;
  height: 400px; 
  overflow: hidden;
}

.hero img {
  display: block;
  margin: 0 auto;
  width: 100%; 
  height: auto; 
  max-width: 100vw; 
  max-height: 290px; 
}

.hero-content {
  text-align: left;
  position: absolute;
  top: 39%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff; 
  z-index: 2;
  padding-left: 10px;
}

.hero-text {
  font-size: 35px; 
  font-weight: bold;
  margin: 0;
}

.skills-section {
  text-align: center;
  margin-top: 100px; 
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skill-box {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  width: calc(33.33% - 20px); 
  text-align: center;
  margin-bottom: 20px;
}

.skill-box img {
  max-width: 60px; 
  display: block;
  margin: 0 auto;
}

.skill-box h3 {
  color: black;
  margin-top: 10px;
  font-size: 1.5em;
}

.skill-box p {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  text-align: left;
}

.projects-section {
  text-align: center; 
  margin: 0 auto; 
}

.projects-section h2 {
  font-size: 2em; 
  color: white;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  text-align: left;
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
}

.project-image {
  width: 450px; 
  margin-right: 20px; 
}

.project-details {
  color: #333; 
  flex: 1; 
}

.project-details h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.project-details p {
  font-size: 1em;
  margin-bottom: 20px;
}

.blue-button {
  background-color: #5CA1C9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer;
}

.orange-button {
  background-color: #F44F01;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer;
}


.project-item .imgage-section img {
  width: 150px;
  order: -1;
}

.project-image .imgage-section img {
  width: 100%; 
  height: auto; 
  max-width: 600px; 
  display: block; 
  margin: 0 auto; 
}


.site-footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0;
}

.connect-text {
  margin: 0;
  font-size: 1.5em;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logo-footer {
  margin-bottom: 10px;
}

.logo-footer img {
  width: 50px;
  height: auto;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #FF6000;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

